@{
    ViewData["Title"] = "Home Page";
}
<br>
<div class="containerDiv">
    <br>
    <h1><b class="blue">NUE</b>ntertainment</h1>
    <br>
    Founded by Nina Potrebich and Uriel Gonzalez in 2020, their mission was to produce and promote the best events without compromising experience quality, safefy and sustainability.
    <br><br>
    As the world’s new leading live entertainment company, we are privileged to work with artists to bring their creativity to life on stages. Whether it’s two hours at a packed club, or an entire weekend of sets at a festival, a live show does more than entertain. It can uplift, inspire and create a memory that lasts a lifetime.
    <br>
    <br>
</div>
<br>
    
      
