@{
    ViewData["Title"] = "Home Page";
}

    <div id="events">
        <h1 class="introTitle">N U E</h1>
     
        @foreach(Event musicEvent in Model)
            {
            <div class="promo">
                
                <h2>@Html.ActionLink($"{musicEvent.EventTitle}","Details", "Events", new { id = musicEvent.EventId })</h2>
                <div class="middle"><iframe width="560" height="315" src="@musicEvent.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <br>
               
            </div>
            }
    </div>