@{
    ViewData["Title"] = "Home Page";
}
<br>
<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<br>
    <div class="about">
          <div class="footer-social-links">
            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
      
