@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<br>
    <div id="events">
        <h1>Events 2020</h1>
        <br>
        <br>
        @* Replace rsvp link with the event title. Create a page per event. Maybe. *@
        <div class="container">
            <div class="row">
                <div class="column" id="party1">
                    <h3>Party 1 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/uPlmijjHRvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    @* <h5>RSVP</h5> *@
                    <h5><button type="Submit" onclick="window.location.href = 'reservations/index'">RSVP</button></h5>
                </div>
                <div class="column">
                    <h3>Party 2 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/opXnPgW8FdY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <h5>RSVP</h5>
               </div>
                <div class="column">
                    <h3>Party 3 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/bzlMCtirKRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <h5>RSVP</h5>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Party 4 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/PbW1FFarLrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <h5>RSVP</h5>
                </div>
                <div class="column">
                    <h3>Party 5 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/rD_iJSEBBmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <h5>RSVP</h5>
                </div>
                <div class="column">
                    <h3>Party 6 - Date</h3>
                    <div class="middle"><iframe width="280" height="157.5" src="https://www.youtube.com/embed/vALaiN71aVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <h5>RSVP</h5>
                </div>
            </div>
        </div>

    </div>
