@{
    ViewData["Title"] = "Home Page";
}
    @* <div class="homeIntro">
        <h2><a class="introLink" asp-area="" asp-controller="Home" >Events 2020</a></h2>
    </div> *@

    <div id="events">
        @foreach(Event musicEvent in Model)
            {
            <div class="promo">
                
                <h2>@Html.ActionLink($"{musicEvent.EventTitle}","Details", "Events", new { id = musicEvent.EventId })</h2>
                <div class="middle"><iframe width="560" height="315" src="@musicEvent.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <br>
               
            </div>
            }
    </div>